<div data-slot="sidebar-container" class="fixed inset-y-0 z-10 hidden h-svh w-(--sidebar-width) transition-[left,right,width] duration-200 ease-linear md:flex left-0 group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)] p-0 group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4))+2px)]">
    
    <div data-sidebar="sidebar" data-slot="sidebar-inner" class="bg-sidebar flex h-full w-full flex-col border-r border-sidebar-border shadow-none">
        
        <div data-slot="sidebar-header" data-sidebar="header" class="flex flex-col gap-2 p-2">
            <ul data-slot="sidebar-menu" data-sidebar="menu" class="flex w-full min-w-0 flex-col gap-1">
                <li data-slot="sidebar-menu-item" data-sidebar="menu-item" class="group/menu-item relative">
                    <a data-slot="sidebar-menu-button" class="peer/menu-button flex w-full items-center gap-2 overflow-hidden rounded-md p-2 text-left hover:bg-sidebar-accent hover:text-sidebar-accent-foreground transition-all" href="/">
                        <div class="flex aspect-square size-8 items-center justify-center rounded-lg" style="background-color: rgb(69, 205, 91);">
                            <svg viewBox="0 0 18 18" fill="currentColor" class="size-4 text-white"><path d="M15.2222 10.6018..." fill="currentColor"></path></svg>
                        </div>
                        <div class="flex flex-col gap-0.5 leading-none">
                            <span class="font-medium">Boston</span>
                            <span class="text-xs text-muted-foreground">онлайн</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="relative flex flex-1 min-h-0 flex-col overflow-hidden">
             </div>
    </div>
</div>